@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: black;
  margin: 0;
  font-family: 'Lekton', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
h1 {
  font-size: clamp(1.5rem, 0.6197rem + 2.8169vw, 4rem);

}
h1,h2,h3 {
  font-family: 'Protest Strike', sans-serif;
}

p {
  margin-bottom: 10px;
}

.nav-links {
  font-size: x-large;
  padding-right: 5%;
}

.nav-links a {
  padding-right: 10%;
}

#logo {
  max-width: 8rem;
  width: 15vw;
}


section {
  min-height: 40vw;
  color: white !important;
}


#Header {
  position: relative;
  background-image: url('flag.png');
  background-position: 0 -50px;
  background-repeat: no-repeat;
  background-size: cover;
}



#Header h1 {
  font-size: 5vw;
  /* padding-top: 12%; */
  text-shadow: 0 0 30px black;
}

#Header h4 {
  font-size: 3vw;
  margin-top: 3%;
  text-shadow: 0 0 20px black;
}

#Services {
  background-image: url("./wood.jpg");
  background-size: cover;
}

#service-list {
  margin: 0 auto;
  list-style: circle;
  list-style-position: inside;
  columns: 2;
}

#service-list li {
  font-size: x-large;
}
.content {
  height: 100%;
  min-height: 40vw;
  display: flex;
}

.subheader {
  text-align: center;
  margin-bottom: 10px;
}