@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-padding-top: 20vh;
}


body {
 
  background-color: black;
  margin: 0;
  font-family: 'Lekton', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

h1 {
  font-size: clamp(1.5rem, 0.6197rem + 2.8169vw, 4rem);
  margin-bottom: 15px;
}

h1,h2,h3 {
  font-family: 'Protest Strike', sans-serif;
}

p {
  margin-bottom: 10px;
}

.nav-links {
  font-size: x-large;
  padding-right: 5%;
}

.nav-link {
  color: #ffff;
  position: relative;
}

.nav-link::after {
  content:'';
  display:inline-block;
  width:0;
  height:1px;
  background:#ffff;
  position: absolute;
  left: 0px;
  bottom:0px;
  transition:0.2s ease-in;
}


.nav-link.active::after {
  width: 100%;
}
.nav-link:hover::after {
  width:100%;
}

#logo {
  max-width: 8rem;
  width: 15vw;
}


section {
  min-height: 25vw;
  color: white !important;
}


#Header {
  padding: 50px 0;
  text-align: center;
  position: relative;
  background-image: url('images/flag.png');
  background-position: 0 -50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


#Header h1 {
  font-size: clamp(2rem, 0.7778rem + 4.8889vw, 13rem);
  /* padding-top: 12%; */
  text-shadow: 0 0 30px black;
}

#Header h4 {
  font-size: clamp(1.5rem, 0.9141rem + 1.875vw, 4.5rem);
  margin-top: 3%;
  text-shadow: 0 0 20px black;
}

#Services {
  text-shadow: 5px 5px 10px black ;
  background-image: url("images/wood.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#service-list {
  margin: 3% auto;
  list-style-type: none;
  columns: 2;
}

#service-list li {
  font-size: clamp(1rem, 0.4444rem + 2.2222vw, 6rem);
  margin-bottom: 15%;
  font-weight: bold;
}

#service-list li::before {
  content: '🛠️';
  margin-right: 10px;
}
.content {
  padding: 1.25rem 2.5rem;
  height: 100%;
  min-height: 25vw;
  display: flex;
}

.subheader {
  margin-bottom: 10px;
}

form {
  margin: auto 0;
}

form input {
  color: black;
  padding: 2%;
  margin-bottom: 2%;
}

form textarea {
  color: black;
  padding: 2%;
}

label {
  font-size: 1.5rem;
}

#sentAlert {
  z-index: -1;
  position: absolute;
  background: rgb(0,0,0);
  background: linear-gradient(28deg, rgba(0,0,0,1) 0%, rgba(55,55,55,1) 63%);width: 100vw;
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease-in;

}

#sentAlert.active {
  display: flex;
  z-index: 2;
  opacity: 1;
}

footer {
  padding-top: 50px;
  height: 100px;
}

.socials {
  height: 100%;
  text-align: center;
  font-size: x-large;
}

.socials a {
  margin-right: 10px;
}